/*body, html{
	width: 100%;
	height: 100%;
}*/

body{
	background-image: url('../assets/pw_maze_white.png');
	font-family: 'Forum', Arial;
}

a{
	text-decoration: none;
}

header{
	font-family: 'Forum', cursive;
}

canvas {
	position: relative;
	background: #ccc;
	left: 100px;
}

textarea {
	-webkit-appearance: textarea;
	background-color: white;
	border: 1px solid;
	border-image: initial;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	-webkit-box-orient: vertical;
	resize: auto;
	cursor: auto;
	padding: 2px;
	white-space: pre-wrap;
	word-wrap: break-word;
}

.container{
	width: 100%;
	height: 100%;
	margin: auto;
	background: #ccc;
}

.overlay, .mini-overlay{
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;	
	z-index: 5;
}

.mini-overlay{
	z-index: 1;
	top: -1000px;
	bottom: 1000px;
	margin-right: 320px;
	cursor: pointer;
}

.overlay .bg, .mini-overlay .bg{
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	opacity: .6;
	background: #000;
	z-index: 3;	
}

.mini-overlay .bg{
	top: -1000px;
	bottom: 1000px;
}

.winning-bg{
	position: fixed;
	top: 70px;
	left: -1000px;
	z-index: -1;
}


.overlay-content{
	text-align: center;
	position: relative;
	width: 250px;
	padding-top: 250px;
	margin: 0 auto;
	font-size: 2em;
	color: #fff;
	z-index: 10;
}

.mini-overlay .overlay-content{		
	width: 640px;
	padding-top: 80px;
}

.main-select-box{
	float: left;
	width: 45%;
	margin-right: 20px;
	text-align: center;
	min-height: 400px;	
}

.main-select-box img{
	margin-top: 10px;
	margin-bottom: 10px;
}

.divider{
	text-align: center;
	margin: 30px 0 30px 0;
	clear: both;
}

/* ============================ */
/* 			Home Layout 		*/
/* ============================ */

.footer{
	margin: 50px 0px 10px 0px;
	color: #aaa;
	text-align: center;
	font-family: Georgia, serif;
	font-size: 15px;
}

.footer img{
	margin: 0 15px 10px 15px;
}

.home-page{
	width: 1024px;
	margin: 0 auto;
}

header.main{
	text-align: center;
	position: absolute;	
	top: 0;
	left: 0;
	width: 100%;
	height: 55px;
	color: #fff;
	background: #770000;
	border-bottom: solid 5px #bd7b63;
}

.home-page h1{	
	margin: 0px;
	font-size: 50px;
}



.home-page div.details{
	width: 100%;
	height: 1150px;	
	padding-top: 50px;
	background: #fff;
}

.home-page div.details .details-info{
	text-align: center;	
}

.home-page div.details .details-info .details-body{
	margin: 0 70px 0 80px;	
	text-align: left;
	font-family: Georgia;	
}

.details-info.king{
	float: left;
	padding-top: 20px;
	margin-left: 80px;
	width: 400px;
	height: 470px;
	color: white;
	background: #3c7399;
}

.details-info.peasant{
	padding-top: 20px;
	float: right;
	margin-right: 70px;
	width: 400px;
	height: 470px;
	color: white;
	background: #be564d;
}

.details-gallery{
	margin: 50px 0 50px 0;
}

.details-form{
	position: relative;	
	text-align: left;
	margin-left: 20px;
}

.details-form .input{
	padding: 0;
}

.details-form .input li{
	margin-top: 10px;
	list-style: none;
}

.details-form .input input{
	width: 180px;
}

.details-form .input .desc{
	font-style: italic;
	padding-left: 5px;
	font-size: 12px;
}

.team-info-body{
	text-align: left;
	margin-left: 20px;
	margin-right: 20px;
	height: 180px;
}

.team-select-wrapper{
	margin-top: 70px;
	margin-left: 50px;
	margin-right: 50px;
	padding: 10px;
}

.team{
	cursor: pointer;
	width: 300px;
	height: 400px;
	position: relative;
}

.team.left{
	float: left;
}

.team.right{
	float: right;
}

.center-div{
	float: left;
	width: 300px;
	text-align: center;
}

.center-div .label{
	font-size: 50px;
	font-family: 'Forum', cursive;
	margin: 140px 100px 0 100px;
}

.team .info{
	position: absolute;
	top: 0;
}

.team .info-content{
	width: 360px;
	background: #ccc;
	padding: 0 10px;
}

.info-content header{
	text-align: center;
	margin-top: 20px;
	font-size: 26px;
}

.info-content .info-body{
	height: 200px;
}

.info-content .info-form{
	text-align: center;
	padding-top: 10px;
}

.info-content .info-form input{
	width: 80%;
	height: 19px;
	margin: 4px auto;
	padding: 6px 8px 5px;
	line-height: 18px;
}

.hidden{
	display: none;
}

.team.right .info-content{
	position: absolute;
	right: 0;
}

.team.left .info-content{
	position: absolute;
	left: 312px;
}

.team-details{    
    width: 70%;
    height: 200px;
    position:relative;
    padding:20px;
    margin:20px auto;
}


.team-details .arrow{
	position: relative;
	background: #cccc99;
	top: -40px;
	width: 50px;
	height: 50px;	
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	transition: left 2s;
}

.team-details.king:before{
    content: "";
    background: #cccc99;
    width: 100%;
    height:100%;
    margin-top: -20px;
    z-index: -1;
    position:absolute;
    -webkit-transition: all 2s linear;
    -moz-transition: all 2s linear;
    -webkit-transform: perspective(150px) rotate3D(0.9,-0.9,0.8,-3deg);   
    -moz-transform: perspective(150px) rotate3D(0.9,-0.3,0.7,3deg);
}

.team-details.peasant:before{
    content: "";
    background: #cccc99;
    width: 100%;
    height:100%;
    margin-top: -20px;
    z-index: -1;
    position:absolute;
    -webkit-transition: all 2s linear;
    -moz-transition: all 2s linear;
    -webkit-transform: perspective(150px) rotate3D(1,5,1, 1deg);   
    -moz-transform: perspective(150px) rotate3D(1,5,1,1deg);
}

.team-details.king .arrow{	
	left: 0px;
}

.team-details.peasant .arrow{	
	left: 650px;
}

.team-details .details-content{
	font-family: 'Forum', cursive;
	margin-top: -50px;
}

.details-content header{
	text-align: center;
}

.details-content h1{
	font-size: 25px;	
}
/* ============================ */
/*          Game Layout 		*/
/* ============================ */

.nano { height: 600px; }
.nano .content { padding: 0px; }
.nano .pane   { background: #888; }
.nano .slider { background: #111; }

.topbar{
	
}

.side-bar{
	position: fixed;
	top : 0;
	right: 0;
	width: 320px;
	height: 100%;
	z-index: 1;
}

.side-bar .side-bar-inner{
	width: 100%;
	height: 100%;
	background-color: #f0f0f0;
}

.side-bar .padded{
	padding: 15px;
}

.user-info{	
	height: 50px;
	color: #BDBDBD;
	background-color: white;
	border-bottom: 1px solid #E5E5E5;
}

.user-info .details{
	overflow: visible;
	position: relative;
}

.details .player-name{
	font-size: 1.65em;
	margin-top: 0px;
	margin-bottom: 2px;
}

.main-wrapper{
	margin-right: 320px;
	height: 100%;
}

.main{
	height: 100%;
}

.main-content{
	height: 100%;
	display: block;
}

.avatar{
	float : left;
	width: 50px;
}

.details{
	float : left;
	padding-left: 5px;
}

.clearfix{
	clear: both;
}

.clearfix::after{
	clear : both;
}

.clearfix::before, .clearfix::after {
	content: " 0020";
	display: block;
	height: 0;
	visibility: hidden;
}

.side-bar .content-slider-wrapper {
	position: absolute;
	top: 81px;
	bottom: 0;
	right: 0;
	left: 0;
	overflow: hidden;
}

.side-bar .side-bar-header {
	position: relative;
	z-index: 2;
}




.bar-shadow {
	-webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 2px 0 rgba(0,0,0,0.1);
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}

.bar-shadow.king{
	-webkit-box-shadow: 0 2px 0 rgba(0, 85, 111, .3);
	-moz-box-shadow: 0 2px 0 rgba(0, 85, 111,.3);
	box-shadow: 0 2px 0 rgba(0, 85, 111,.3);	
}

.button-bar {
	position: relative;
	z-index: 1;
	min-height: 35px;
	padding: 10px 15px;
	background-color: white;
}

.side-bar-header.king .button-bar{
	text-align: center;
	background: #00556f;
	color: white;
	font-size: 25px;
}

.side-bar-header.peasant .button-bar{
	text-align: center;
	background: #7a2e28;
	color: white;
	font-size: 25px;
}

.side-bar-header.draw .button-bar{
	text-align: center;
	background: #555555;
	color: white;
	font-size: 25px;
}

.chat-form.condensed .chat-box{
	height: 19px;
	color: #AAA;
}

.chat-form.expanded .chat-box{
	height: 60px;
	color: #000;
}

.chat-form.expanded{
	height: 70px;
}

.chat-box:disabled{
	background-color: #efefef;
}

.chat-box{
	width: 270px;
	padding: 6px 8px 5px;
	line-height: 18px;;
}


textarea.chat-box{
	resize: none;
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05),0 1px 0 white;
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 1px 0 #fff;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05),0 1px 0 white;

}

.side-bar .feed-item {
	margin-bottom: 12px;
}

.feed-content-inner{
	position: relative;
}

.feed-content .player-name {
	font-weight: bold;
}

.side-bar .feed-item-inner {
	padding: 0 10px;
}

.feed-item-bubble{
	/*-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;*/
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.feed-item-bubble .feed-item-inner {
	padding: 0;
	/*-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;*/
}

.tip-arrow-left-top .tip-arrow, .tip-arrow-right-top .tip-arrow {
	top: 20px;
}

.tip-arrow-container .tip-arrow {
	position: absolute;
	display: block;
	left: 50%;
	margin-left: -6px;
	top: auto;
	bottom: -3px;
	width: 12px;
	height: 12px;
	background-color: white;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.feed-item-bubble .tip-arrow {
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.05);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
}

.tip-arrow-left .tip-arrow, .tip-arrow-right .tip-arrow, .tip-arrow-left-top .tip-arrow, .tip-arrow-right-top .tip-arrow {
	right: auto;
	left: -6px;
	top: 50%;
	margin-left: 0;
	margin-top: -6px;
	bottom: auto;
	z-index: -1;
}

.tip-arrow-container .tip-arrow-inner {
	background-color: white;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}

.feed-item-bubble .feed-item-main {
	padding: 10px;
}

.feed-item-main.failed, .feed-item-main.mad{
	background: #f0d690;
}

.feed-item-main.success, .feed-item-main.success-me{
	background: #be564d;
}

.feed-item-plain {
	margin: -5px;
	padding: 5px;
}

.side-bar .feed-item-plain {
	margin-bottom: 7px;
}

.media.media-mini, .media.media-micro {
	font-size: 13px;
	line-height: 17px;
	min-height: 20px;
}

.media .media-img {
	position: relative;
	display: inline-block;
	float: left;
	margin-right: 10px;
	width: 48px;
	height: 48px;
}

.media.media-mini .media-img, .media.media-micro .media-img {
	margin-right: 10px;
	width: 20px;
	height: 20px;
}

.media .media-body {
	position: relative;
	overflow: hidden;
	padding-top: 1px;
}

.feed-item .media-content {
	padding-right: 35px;
}

.media .media-content {
	position: relative;
	word-wrap: break-word;
}

.media .media-body .align-right {
	float: right;
	position: relative;
	z-index: 1;
}

.feed-item .time {
	color: #B9B9B9;
}

.feed-item .align-right {
	height: 18px;
}

.media {
	position: relative;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align: left;
	min-height: 48px;
}

.media.media-mini h1, .media.media-mini h2, .media.media-mini h3, .media.media-mini h4, .media.media-mini h5, .media.media-mini h6, .media.media-mini ul, .media.media-mini ol, .media.media-mini dl, .media.media-mini p, .media.media-mini blockquote, .media.media-micro h1, .media.media-micro h2, .media.media-micro h3, .media.media-micro h4, .media.media-micro h5, .media.media-micro h6, .media.media-micro ul, .media.media-micro ol, .media.media-micro dl, .media.media-micro p, .media.media-micro blockquote {
	margin: 0;
}

.bottom{
	position: absolute;
	width: 100%;
	bottom: 0;
	top: 660px;	
	z-index : -1;	
}

.top{	
	height: 90px;
	max-height: 90px;
}

.top span{
	float: left;
	max-width: 840px;
	max-height: 90px;	
	padding: 10px 30px 10px 10px;		
	font-size: 50px;
	background: white;
	border-bottom: 2px solid #E5E5E5;
}

.top span.peasant{
	background: #be564d;
	color: white;
}

.top span.king{
	background: #3c7399;
	color: white;
	border-bottom: 4px solid #E5E5E5;
}

.top h1{
	margin-top: 0;
	padding-left: 20px;
	padding-top: 10px;
}

.center{
	height: 576px;
	width: 100%;
	z-index: 2;
}


.game{	
	width: 780px;
	height: 100%;
	margin: 0 auto;
	/*background: #0c0;*/
	z-index: 5;
}

#turn-wrapper{
	text-align: center;
	font-size: 30px;
}