/*body, html{
	width: 100%;
	height: 100%;
}*/

canvas {
	background: #ccc;
}

.container{
	width: 100%;
	height: 100%;
	margin: auto;
	background: #ccc;
}

.main-select-box{
	float: left;
	width: 45%;
	margin-right: 20px;
	text-align: center;
	min-height: 400px;	
}

.main-select-box img{
	margin-top: 10px;
	margin-bottom: 10px;
}

/* ============================ */
/*          Game Layout 		*/
/* ============================ */

.topbar{
	
}

.side-bar{
	position: fixed;
	top : 0;
	right: 0;
	width: 320px;
	height: 100%;
	z-index: 1;
}

.side-bar .side-bar-inner{
	width: 100%;
	height: 100%;
	background-color: #f0f0f0;
}

.main-wrapper{
	margin-right: 320px;
	height: 100%;
}

.main{
	height: 100%;
}

.main-content{
	height: 100%;
	display: block;
}

.top, .bottom{
	height: 9em;
}

.clearfix{
	clear: both;
}

.bottom{
	background: #030;
	bottom: 0;
}

.top{
	top: 0;
	background: #030;
}

.center{
	height: 31em;
}

.left{
	float: left;
	width: 25%;
	height: 100%;
	background: #c0c;
}

.game{
	float:left;
	width: 50%;
	height: 100%;
	background: #0c0;
}

.right{
	float:right;
	width: 25%;
	height: 100%;
	background: #00c;
}