<div class="feed-item feed-item-bubble tip-arrow-container tip-arrow-left-top">						
	<div class="feed-item-inner tip-arrow-inner">
		<div class="tip-arrow"></div>
		<div class="feed-item-main">
			<div class="media media-mini">
				<div class="media-img"><img src="http://placekitten.com/20/20"></div>
				<div class="media-body">
					<aside class="align-right time">
						<time data-time-format="short">21h</time>	
					</aside>
					<div class="media-content">
						<p>
							<a class="player-name">King Heroic Lyric</a> Yes, that is a very fine move indeed. This reply is very long so please bear with me.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>