<div class="overlay">
	<div class="bg"></div>
	<div class="overlay-content">
		<img src="./assets/spinner.gif"></img>
		<p>Connecting...</p>
	</div>	
</div>
<div class="main-wrapper">
	<div id="results-panel" class="mini-overlay">
		<div class="bg"></div>
		<div class="overlay-content">
			<figure>
				<img src="./assets/king-win.png"></img>	
				<figcaption>Checkmate!</figcaption>
			</figure>					
		</div>	
	</div>
	<div id="share-panel" class="mini-overlay">
		<div class="bg"></div>
		<div class="overlay-content">
			<div class="share-content">
				<h3>Share</h3>
				<div class="url-input">
					<input type="text" value="http://chess.roguestory.com/#/g/<%- game.code %>">
				</div>
				<div class="g-plusone" data-size="tall"></div>
					<script type="text/javascript">
					  (function() {
					    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
					    po.src = 'https://apis.google.com/js/plusone.js';
					    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
					  })();
					</script>
				<a href="https://twitter.com/share" class="twitter-share-button"  data-text="" data-count="vertical">Tweet</a>		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>							

			</div>
		</div>	
	</div>
	<div class="winning-bg">
		<img src="./assets/king-shield-alpha.png"></img>
	</div>
	 <div class="main">
		<div class="main-inner">
			<div class="main-content">
				<div class="top <%- color %>">
					<span class="<%- color %>">Peasants Revolt Against <%- game.king.name %></span>					
					<a class="button"><span style="font-size: 19px; padding: 5px;"> &#10010;</span></a>
				</div>
				<div class="center">
					<div class="log" style="position: absolute; left: 0; top: 0;">						
					</div>							
					<div class="game">
						<canvas id='gameboard' width='576' height='576'></canvas>
						<div id="turn-wrapper"></div>
					</div>							
				</div>						
				<div class="bottom">
					
				</div>
			</div>
		</div>
	</div>
</div>
<aside class="side-bar" id="side-bar">
	<div class="side-bar-inner">
		<header class="user-info padded">
			<div class="media clearfix">
				<div class="avatar">
					<a><% if(game.player.authId) { %>
						<img src="./assets/king-icon-big.png"></img>
						<% }else{ %>
						<img src="./assets/peasant-icon-big.png"></img>
						<% } %>
					</a>						
				</div>
				<div class="details">							
					<h3 class="player-name"><%- game.player.name %></h3>
					<div class="player-detail">
						<%- game.player.title %>
					</div>
				</div>
			</div>
		</header>
		<div class="content-slider-wrapper">
			<div id="main-feed-slider" class="content-slider-item">
				<header class="side-bar-header bar-shadow">
					<nav class="button-bar">
						<div class="chat-form condensed">
							<textarea class="chat-box" placeholder="Say something..." disabled=true></textarea>
						</div>
					</nav>
				</header>
				<div class="feed">
					<div class="feed-content-wrapper antiscroll-wrap">
						<div class="feed-content content">
							<div id="main-feed" class="feed-content-inner padded antiscroll-inner">
								<span style="font-size: 12px; font-style: italic;">Note: you can share this game's URL to have more players play as Peasants against the King</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="sub-feed-slider" class="content-slider-item">
				<header class="side-bar-header bar-shadow">
					<nav class="button-bar">
						<div class="button-bar-div">
							<a id="back-btn" class="button">
								<span>&laquo;</span>
							</a>
							<h3>Players</h3>
						</div>
					</nav>
				</header>
				<div class="feed">
					<div class="feed-content-wrapper antiscroll-wrap">
						<div class="feed-content content">
							<div id="sub-feed" class="feed-content-inner padded antiscroll-inner">						<div class="king-container"></div>		
								<h3 style="text-align: center;"><span>VS</span></h3>
								<div class="peasant-container">
									<p class="sample">No one. Share this url to your friends (and enemies)!</p>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</aside>