<div class="home-page">
	<header>
		<h1>Peasant's Revolt</h1>
		<span>A war game</span>
	</header>
	<div class="team-select-wrapper">
		<div class="team left">
			<img src="http://placekitten.com/300/400"></img>
			<div class="info">
				<div class="info-content hidden">
					<header>
						Proclamation of Divine Right
					</header>
					<div class="info-body">
						<p>I am sent from the heavens, yo!</p>
						<p>This is the second paragraph, filled with more words.</p>
					</div>
					<div class="info-form">
						<input type="text" id="king-name" placeholder="Input Name Here"></input>
						<input type="text" id="king-pass" placeholder="Input Key"></input>
						<input type="submit" id="king-submit"></input>
					</div>
				</div>
			</div>
		</div>
		<div class="center-div">
			<div class="label">Choose Your Side</div>
		</div>
		<div class="team right">
			<img src="http://placekitten.com/300/400"></img>
			<div class="info">
				<div class="info-content hidden">
					<header>
						Declaration of Independence
					</header>
					<div class="info-body">
						<p>We will not be bound</p>
						<p>This is the second paragraph, filled with more words.</p>
					</div>
					<div class="info-form">
						<input type="text" id="peasant-name" placeholder="Input Name Here"></input>
						<input type="submit" id="peasant-submit"></input>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>