<div>
	<div>It's a peasant uprising. Choose your side:</div>
	<div class='main-select-box'>
		<img src="http://placekitten.com/g/300/300"></img>
		<input type="text" id="king-name" placeholder="King Leonidas"></input>
		<input type="text" id="king-pass" placeholder="King Pass"></input>
		<input type="submit" id="king-submit"></input>
	</div>
	<div class='main-select-box'>
		<img src="http://placekitten.com/g/300/300"></img>
		<input type="text" id="peasant-name" placeholder="Random9"></input>
		<input type="submit" id="peasant-submit"></input>
	</div>
</div>