<div class="feed-item feed-item-plain">											
	<div class="feed-item-inner tip-arrow-inner">
		<div class="tip-arrow"></div>
		<div class="feed-item-main">
			<div class="media media-mini">
				<div class="media-img">
					<% if(data.color == 'B') { %>
					<img src="./assets/king-icon-small.png"></img>
					<% }else{ %>
					<img src="./assets/peasant-icon-small.png"></img>
					<% } %>
				</div>					
				<div class="media-body">
					<aside class="align-right time">
						<time data-time-format="short" datetime="<%- timestamp %>"><%- timestring %></time>	
					</aside>
					<div class="media-content">
						<p>							
							<a class="player-name"><%- data.name %></a> moved 
							<a class="player-name"><%- piece %> </a> at 
							<a class="player-name"><%- from %></a> to
							<a class="player-name"><%- to %></a> 
							<%- result %>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>