<div class="feed-item feed-item-plain">											
	<div class="feed-item-inner tip-arrow-inner">
		<div class="tip-arrow"></div>
		<div class="feed-item-main">
			<div class="media media-mini">
				<div class="media-img"><img src="http://placekitten.com/20/20"></div>
				<div class="media-body">
					<aside class="align-right time">
						<time data-time-format="short">1d</time>	
					</aside>
					<div class="media-content">
						<p>
							<!-- <a class="player-name">Lowly Peasant</a> ordered 
							<a class="player-name">Pawn</a> to 
							<a class="player-name">c3</a> -->
							<%- msg %>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>